#header-register{
    font-size: 45px;
    text-align: center;
    height: 60px;
    width: 1300px;
    background-color: purple;
}
#register{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 590px;
    background-color: cadetblue;
}
#side-left{
    width: 450px;
    height: 450px;
    float: left;
    background-color: tan;
}
#side-right{
    width: 450px;
    height: 450px;
    float: left;
    background-color: tan;
}
#middle-left{
    margin-left: 250px;
    height: 450px;
    width: 200px;
    background-color: coral;
}
#names{
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
}
#middle-right{
    margin-right: 210px;
    height: 450px;
    width: 200px;
    background-color: cornsilk;
}
#form{
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
}
.field{
    width: 150px;
    height: 20px;
    background-color: rgb(100, 93, 58);
    color: white;
}
.field::placeholder{
    color: rgb(175, 167, 167);
    font-weight: bold;
}
#button-triangle{
    height: 140px;
    width: 900px;
    text-align: center;
    background-color: yellow;
}
#but-padding{
    padding-top: 20px;
}
#but-submit{
    width: 150px;
    height: 35px;
    background-color: rgb(100, 93, 58);
    font-weight: bold;
    font-size: 17px;
    color: rgb(202, 200, 200);
}